<header class="main-header">

    <div>
      <a class="main-header__brand" href="index.html">🎥Películas</a>
    </div>
  
    <nav class="main-nav">
  
      <ul class="main-nav__items">
  
        <!-- Películas -->
        <li class="main-nav__item">
          <a routerLink="peliculas">🎬Películas</a>
        </li>
  
        <!-- Película aleatoria -->
        <li class="main-nav__item">
          <a routerLink="pelicula/aleatoria">🎞Película aleatoria</a>
        </li>
      </ul>
    </nav>
  
  </header>
  